<!-- {{yield}} -->

<!-- HEADER -->
<div class="nav-slide">
    <ul class="nav-slide-list">
        <li class="nav-slide-list-item"><a href="#overview" class="nav-slide-list-link">Overview</a></li>
        <li class="nav-slide-list-item"><a href="#who-we-are" class="nav-slide-list-link">Who We Are</a></li>
        <li class="nav-slide-list-item"><a href="#grammar" class="nav-slide-list-link">Grammar</a></li>
        <li class="nav-slide-list-item"><a href="#formatting" class="nav-slide-list-link">Formatting</a></li>
        <li class="nav-slide-list-item"><a href="#language" class="nav-slide-list-link">Language</a></li>
        <li class="nav-slide-list-item"><a href="#writing-for-ahalogy" class="nav-slide-list-link">Writing for Ahalogy</a></li>
    </ul><!--nav-slide-list-->
</div><!--nav-slide-->

  <header>
    <a class="logo" href="https://www.ahalogy.com/">
      <img src="http://res.cloudinary.com/ahalogy/image/upload/v1429802229/ahalogy-wordmark_knoiuh.png" alt="Ahalogy"/>
    </a>
    <ul id='sub-nav'>
        <li class='subnav-link'><a href="#overview">Overview</a></li>
        <li class='subnav-link'><a href="#who-we-are">Who We Are</a></li>
        <li class='subnav-link'><a href="#grammar">Grammar</a></li>
        <li class='subnav-link'><a href="#formatting">Formatting</a></li>
        <li class='subnav-link'><a href="#language">Language</a></li>
        <li class='subnav-link'><a href="#writing-for-ahalogy">Writing for Ahalogy</a></li>
    </ul>
    <div class="hamburger"></div>
   </header> <!-- header -->

<!-- HERO -->
<div id="hero-image" style="padding-top: 62px;">
  <h1>Voice &amp; Tone</h1>
</div>
<!-- CONTENT -->
<div class='content'>
  <div class='section u-clearfix' id="overview">
    <div class='section-title js-pin'>
      <h1>Overview</h1>
    </div>
    <div class='section-content js-trigger'>
      <p><strong>Ahalogy is a team of A players.</strong> If you work here&mdash;you're good at <em>something</em>. Writing comes with the job, and almost every person who works here will construct a piece of writing at one point or another. For many of us, it is inherent in our day-to-day work. For others where that isn't the case, we'd like to encourage you to write more&mdash;whether it's for our blog or elsewhere. When writing for or about Ahalogy, it's important to maintain a unified voice across all content types and company functions. This document will help us stay consistent and credible.</p>
		  <p>Our voice is a major pillar in the Ahalogy brand, on the same level as our visual identity. As a company and as a product&mdash;Ahalogy has a personality. There are things we are and things we are not. The voice of Ahalogy is a real person, a human being. It's familiar, straightforward, and at times humorous. We have fun. We also back up our thoughts with proven data and experiences showing external parties we're the best without having to outright say so.</p>
		  <h2>When to use Ahalogy's Voice &amp; Tone:</h2>
		  <ul>
			  <li><strong>Do:</strong> Anywhere "we" are speaking (internally and externally)&mdash;emails, documents, reports, presentations (live and virtual)</li>
			  <li><strong>Don't:</strong> when creating brand assets (pins, ad creative, content briefs, etc.). In these cases, please take care to understand the voice and tone of the brand partner (per client briefing/documents)</li>
		  </ul>
     </div> <!-- section content -->
  </div> <!-- section -->

  <div class='section u-clearfix' id="who-we-are">
    <div class='section-title js-pin'>
      <h1>Who We Are</h1>
    </div>
    <div class='section-content js-trigger'>
			<h2>Ahalogy is:</h2>
				<ul>
					<li>helpful and concise</li>
					<li>proactive and results oriented</li>
					<li>intelligent but not pretentious</li>
					<li>conversational but professional</li>
					<li>enthusiastic but genuine</li>
					<li>opinionated but open minded</li>
					<li>magical but not illusive</li>
				</ul>
      <div class='attribute'> 
        <h2>Helpful and concise</h2>
        <div class='half'>
         
         <ul class='would-list'><li><strong>We would say:</strong> If you'd like to monetize your mobile Pinterest traffic, start by opting-in to Ahalogy Mobile through your WordPress plugin. From there we'll get you all set to start earning money with Ahalogy.</li></ul>
       </div> <!-- half -->
       
           <div class='half' id='right'><ul class='wouldnt-list'><li><strong>We wouldn't say:</strong> You can't monetize with us unless you're using Ahalogy Mobile. You need to download the WordPress plugin, enter your client ID, check all the boxes. Then we will test your content and if it's all good to go we will activate the experience. Once it's activated you need to send me your W9 and then you can monetize with us and receive monthly earnings.</li></ul> <!-- half -->
           </div>
       </div> <!-- attribute -->
       
        <!-- <div class='half'>
         <img src="http://res.cloudinary.com/ahalogy/image/upload/v1430316917/check_doelmt.svg" alt="check mark" class="attribute-icon check-icon"></i>
         <ul class='would-list'><li><strong>We would say:</strong> If you'd like to monetize your mobile Pinterest traffic, start by opting-in to Ahalogy Mobile through your WordPress plugin. From there we'll get you all set to start earning money with Ahalogy.</p>
       </div> -->
       <!-- <div class='half' id='right'>
         <img src="http://res.cloudinary.com/ahalogy/image/upload/v1430317094/x_quddkm.svg" alt="x mark" class="attribute-icon x-icon"></i>
         <ul class='wouldnt-list'><li><strong>We wouldn't say:</strong> You can't monetize with us unless you're using Ahalogy Mobile. You need to download the WordPress plugin, enter your client ID, check all the boxes. Then we will test your content and if it's all good to go we will activate the experience. Once it's activated you need to send me your W9 and then you can monetize with us and receive monthly earnings.</p>
       </div> 
   </div>-->
 
      <div class='attribute'> 
        <h2>Proactive and results oriented</h2>
        <div class='half'> 
         <ul class='would-list'><li><strong>We would say:</strong> The new Pinterest Smart Feed is a game changer. We have already taken steps to create new features and gather more knowledge to continue helping our Brand and Content Partners win on Pinterest.</li></ul>
       </div> <!-- half -->
       <div class='half' id='right'>
         <ul class='wouldnt-list'><li><strong>We wouldn't say:</strong> The new Pinterest Smart Feed is brilliant and caters your feed to your specific interests. We are excited for this feature, once we gather data we will let you know the best way to proceed.</li></ul>
       </div> <!-- half -->
   </div> <!-- attribute -->
 
 
 
 
      <div class='attribute'> 
        <h2>Intelligent but not pretentious</h2>
        <div class='half'>
         <ul class='would-list'><li><strong>We would say:</strong> Our experience and proven data allows us to make thoughtful decisions with content strategy and design to gain performance for your pins.</li></ul>
       </div> <!-- half -->
       <div class='half' id='right'>
         <ul class='wouldnt-list'><li><strong>We wouldn't say:</strong> When it comes to perfect pins, we are the thought leaders. Let us handle this and we will keep you looped in on the results.</li></ul>
       </div> <!-- half -->
   </div> <!-- attribute -->
 
 
 
 
      <div class='attribute'> 
        <h2>Conversational but professional</h2>
        <div class='half'>
         <ul class='would-list'><li><strong>We would say:</strong> We have a suite of updates on the horizon which our engineers are working tirelessly to prepare for our current and future partners. Our team is very excited to get these ready and continue bringing in new content creators to the Content Network!</li></ul>
       </div> <!-- half -->
       <div class='half' id='right'>
         <ul class='wouldnt-list'><li><strong>We wouldn't say:</strong> We have a lot of issues and bugs with the new stuff right now, as understandable with creating new products, and we are trying to get things fixed before we welcome any new Content Partners to the Content Network.</li></ul>
       </div> <!-- half -->
   </div> <!-- attribute -->
 
 
 
 
      <div class='attribute'> 
        <h2>Enthusiastic but genuine</h2>
        <div class='half'>
         <ul class='would-list'><li><strong>We would say:</strong> We were able to identify and resolve the issue you were experiencing and I'm so glad you can get back to pinning. Let me know if there is anything you have further questions about or if I can be of more help.
</li></ul>
       </div> <!-- half -->
       <div class='half' id='right'>
         <ul class='wouldnt-list'><li><strong>We wouldn't say:</strong> Woooo! I am super jazzed to say that your issue has been fixed, and you can get back to using Ahalogy, we've missed you so much!! Happy Pinning!</li></ul>
       </div> <!-- half -->
   </div> <!-- attribute -->
 
 
 
      <div class='attribute'> 
        <h2>Opinionated but open minded</h2>
        <div class='half'>
         <ul class='would-list'><li><strong>We would say:</strong> Our team has found that using bold overlays on your pin images are the best way to grow your performance. We will keep employing these tactics, but also test other designs to make sure we continue to see numbers grow by trying new ways to engage your audience.</li></ul>
       </div> <!-- half -->
       <div class='half' id='right'>
         <ul class='wouldnt-list'><li><strong>We wouldn't say:</strong> Last month, pins with bold overlays performed the best. This will be the best design to go with to ensure that you're seeing these performance numbers.</li></ul>
       </div> <!-- half -->
   </div> <!-- attribute -->
 
 
 
      <div class='attribute'> 
        <h2>Magical but not illusive</h2>
        <div class='half'>
         <ul class='would-list'><li><strong>We would say:</strong> We use data-driven algorithms which look into the best times for a piece of content to post for optimal results. This takes into account when your audience is interacting with this content category so it is in front of them during this time.</li></ul>
       </div> <!-- half -->
       <div class='half' id='right'>
         <ul class='wouldnt-list'><li><strong>We wouldn't say:</strong> We have proprietary technology that utilizes data driven algorithms to select the optimal time for your content to post so it will perform perfectly.</li></ul>
       </div> <!-- half -->
   </div> <!-- attribute -->

</div> <!-- section content -->
  </div> <!-- section -->





  <div class='section u-clearfix' id="grammar">
    <div class='section-title js-pin'> 
      <h1>Grammar</h1> 
      <ul class="section-nav">
        <li><a href="#abbreviations">Abbreviations and Acronyms</a></li>
        <li><a href="#capitalization">Capitalization</a></li>
        <li><a href="#commas">Commas</a></li>
        <li><a href="#dashes">Dashes and Hyphens</a></li>
        <li><a href="#dates">Dates</a></li>
        <li><a href="#ellipsis">Ellipsis</a></li>
        <li><a href="#emphasis">Emphasis</a></li>
        <li><a href="#exclamation">Exclamation Points</a></li>
        <li><a href="#lists">Lists</a></li>
        <li><a href="#numbers">Numbers</a></li>
        <li><a href="#quotes">Quotes</a></li>
        <li><a href="#times">Times</a></li>
        <li><a href="#widows">Widows and Orphans</a></li> 
      </ul>
    </div>
    <div class='section-content js-trigger'>
			<p class='section-intro'>We generally follow the AP Style Guide and The Elements of Style. Below are a few key points from these to pay close attention to, as well as a few points where we vary from their guidelines to better form our own brand.</p>
	
			<h2 id="abbreviations">Abbreviations and Acronyms</h2>
				<ul>
					<li>"Do not take shortcuts at the cost of clarity." <em>The Elements of Style</em></li>
					<li>Start out using the full name. After meaning is understood, use the abbreviation. If it is a commonly known acronym or abbreviation, use the shortened form (e.g., URL, sync, TBD, etc.).</li>
					<li>Etc., e.g., and i.e.</li>
					<ul>
						<li>Use them! Just remember the appropriate punctuation: etc. is <em>always</em> followed by a period, as are each letter in e.g. and i.e.</li>
						<li>Don't forget the comma after the last period if it's at the beginning or middle of a sentence.</li>
						<li>Tip for these: E.g., means <em>for example</em>. I.e., means <em>in other words</em>. Read the sentence with these included if you're trying to decide which to use, you'll know what sounds correct.</li>
					</ul>		
				</ul>	
		
			<h2 id="capitalization">Capitalization</h2>
				<ul>
					<li><strong>Do:</strong> names of Ahalogy tools and technology</li>
						<ul>
							<li>[Ahalogy] Content Network</li>
							<li>Ahalogy Mobile</li>
							<li>Smart Stacks</li>
						</ul>	
					<li><strong>Do:</strong> names of Pinterest tools and technology</li>
						<ul>
							<li>Smart Feed</li>
							<li>Promoted Pins</li>
						</ul>	
					<li><strong>Don't:</strong> job titles that aren't modifiers, random words that aren't proper nouns, or actions that our tools complete</li>
						<ul>
							<li>schedule</li>
							<li>pin</li>
							<li>optimize</li>
							<li>content partnership manager</li>
							<li>client director</li>
						</ul>	
				</ul>	
	
			<h2 id="commas">Commas</h2>
				<ul>
					<li>Serial, or "Oxford" commas&mdash;use them! We aren't animals. E.g., I like cookies, cupcakes, and chocolate.  Not: I like cookies, cupcakes and chocolate.</li>
					<li>Take a sensical approach in your use of commas. Read the sentence out loud. If you are naturally taking a breath in a sentence, insert a comma.</li>
					<li>Enclose parenthetic expressions in commas.</li>
				</ul>	
	
			<h2 id="dashes">Dashes and Hyphens</h2>
				<ul>
					<li>Use em dashes&mdash;sans spaces&mdash;to set off a parenthetical statement when looking for something more emphatic than commas. The mac keystroke is: option + shift + hyphen.</li> 
					<li>En dashes are to be used for ranges of numbers, dates, or times. The mac keystroke is: option + hyphen. (e.g., I will be ready in 5&ndash;10 minutes.)</li>
					<li>Hyphens are used for compound modifiers before nouns. (e.g., This is our bi-weekly meeting to discuss progress.)</li>
					<li>Since these each have specific use cases and meanings, avoid using any of in place of one another.</li>
				</ul>	
	
			<h2 id="dates">Dates</h2>
				<ul>
					<li>Years: Only use apostrophes when abbreviating years or decades, to replace the omitted numbers.</li>
					<li>Spell out the month unless it is used with a date. When used with a date, abbreviate only the following months: <em>Jan., Feb., Aug., Sept., Oct., Nov. and Dec.</em></li> 
					<li>Do not use <em>st, nd, rd, or th.</em> <s>Jan. 24th.</s> Jan. 24. Or; Jan. 24, 2015.</li>
				</ul>
	
			<h2 id="ellipsis">Ellipsis</h2>
				<ul>
					<li>Use to indicate you've omitted one or more words from a quote.</li>
					<li>An ellipsis should be constructed with three periods and a space on each side.</li>
					<li>Never begin a sentence with an ellipsis, even if you're not using the first word(s) of the original quote.</li>
					<li>Never use ellipsis in a title or header of a document, slide in a deck, or email.</li>
				</ul>
	
			<h2 id="emphasis">Emphasis</h2>
				<ul>
					<li>Use italics, bold, and underline when fitting. Never in any combination, <em><u>it</u></em> <strong>looks <u>weird</u></strong>.</li>
					<li>Always use italics for titles of works.</li>
					<li>Do not use caps for emphasis. NO NEED TO YELL AT ANYONE&mdash;WE DON'T SELL USED CARS HERE.</li>
					<li>Colors can be used to emphasize in decks, pdf documents, and newsletters. Never in personal email. Be sure to follow our visual identity for the right colors.</li>

				</ul>
	
			<h2 id="exclamation">Exclamation Points</h2>
				<ul>
					<li>Do not use to emphasize a simple statement.</li> 
					<li>Exclamations should be cherished and used only as a literary high five.</li>
					<li>Do not use more than one in any support or guide content, two in an email, or four in a blog post.</li>
					<li>Never use in a white paper or case study.</li>
				</ul>
	
			<h2 id="lists">Lists</h2>
				<ul>
					<li>Always number items that should be in a certain order, don't use numbers when order doesn't matter.</li>
				</ul>
	
			<h2 id="numbers">Numbers</h2>
				<ul>
					<li>Spell out numbers less than 10.</li>
					<li>Spell out ordinal numbers first through ninth: first, second, third, fourth, fifth, sixth, etc.</li>
				</ul>
	
			<h2 id="quotes">Quotes</h2>
				<ul>
					<li>Periods and commas always go inside the quotation marks.</li>
					<li>Do not use to emphasize a word or phrase.</li>
				</ul>
	
			<h2 id="times">Times</h2>
				<ul>
					<li>Zones (depending on whether or not daylight savings time applies): EST, EDT, PST, PDT, CST, CDT, MST, MDT</li>
				</ul>
	
			<h2 id="widows">Widows and Orphans</h2>
				<ul>
					<li>"Orphans have no past, and widows have no future."</li>
					<li>Words or short lines at the beginning or end of a paragraph, which are left dangling at the top or bottom of a column, separated from the rest of the paragraph.</li>
					<li>Avoid these as to keep clean, purposeful looking prose.</li>
				</ul>
    </div>
  </div>





  <div class='section u-clearfix' id='formatting'>
    <div class='section-title js-pin'>
      <h1>Formatting</h1>
      <ul class='section-nav'>
        <li><a href="#arrows">Arrows</a></li>
        <li><a href="#copy">Copy / Pasting</a></li>
        <li><a href="#file-names">File Names</a></li>
        <li><a href="#links">Links</a></li>
        <li><a href="#services">Names of tools and services</a></li>
      </ul>
    </div>
    <div class='section-content js-trigger'>
      <h2 id="arrows">Arrows</h2>
        <ul>
          <li>Incorrect: =></li>
          <li>Correct: &larr;&uarr;&rarr;&darr;, You can get these arrow text-symbols from "insert symbols" or  google them and copy/paste as text without formatting.</li>
        </ul>
      <h2 id="copy">Copy / Pasting</h2>
        <ul>
          <li>Always take care to not copy/paste previous formatting (colors, fonts, etc). This comes across to our external clients as if we didn't create the content just for them.</li>
          <li>Check your paste options&mdash;often times you can can "Paste &amp; Match Style" or "Paste Special (as unformatted text)"</li>
          <li>In Chrome, CMD-<strong>SHIFT</strong>-V becomes your best friend</li>
        </ul>
      <h2 id="file-names">File Names</h2>
      <ul>
        <li>When sharing a file externally, be sure to name it something relevant and informative from the audience's perspective.</li>
        <li>Include Ahalogy in the name, since the recipient can have many files coming from many different sources.</li>
        <li><strong>Bad:</strong> "General_One_Pager_V2"
      <strong>Good:</strong> "Ahalogy_Overview-2015"".
       <strong>Bad:</strong> "Dannon_Sales_Presentation" 
      <strong>Good:</strong> "Ahalogy+Dannon_1-21-2015"</li>
      </ul>
      <h2 id="links">Links</h2>
      <ul>
        <li>Never paste the URL directly into the content except for these links:</li>
          <ul>
            <li>app.ahalogy.com</li>
            <li>ahalogy.com/[insert page name]</li>
            <li>a Pinterest URL linking to a blog post or landing pages for instances like verifying accounts, requesting access to Promoted Pins, etc. (e.g., https://business.pinterest.com/en/promoted-pins)</li>
          </ul>
      </ul>      
      <h2 id="services">Names of tools and services</h2>
      <ul>
        <li>Don't alter these. See word and phrase bank for names to use.</li> 
        <li>Always include Ahalogy before the feature/tool name, we want the focus to be on us and that feature comes from working with us.</li>
      </ul> 
    </div>
  </div>
  
  
  
  
  
  
  

  <div class='section u-clearfix' id='language'>
    <div class='section-title js-pin'>
      <h1>Language</h1>
      <ul class="section-nav">
        <li><a href="#words">Words &amp; Phrases</a></li>
        <li><a href="#blacklist">Blacklist</a></li>
      </ul>
    </div>
    <div class='section-content js-trigger'>
      <h2 id="words">Word &amp; Phrase Bank</h2>
      <div class="sub-section" id="word-and-phrase"><p class='section-intro'>These are words and phrases you may use to identify parts of our business and tools with any external audience.</p>
      <div class="words">
          <h3>[Ahalogy] Code Snippet</h3><p>The Ahalogy Code Snippet is a key aspect of being in the Content Network. It will track all of the performance data for the pins you publish through our tools. Additionally, it produces the Engagement when a reader clicks through to your site form Pinterest, prompting them to follow your profile.</p>
   
          <h3>[Ahalogy] Content Network</h3><p>The Ahalogy Content Network is a place to share and discover meaningful, proven content. You're able to filter by category to find specific content types that pique your personal interest or that of your audience.</p>
  
          <h3>[Ahalogy] Pinmarklet</h3><p>The Ahalogy Pinmarklet is a tool which allows you to pin through Ahalogy directly from your site. It is the best way to pin your own content with our tools. The Pinmarklet lives in your browser's toolbar. When you'd like to pin from your site click the Pinmarklet, select your image, description, and board(s). Click Schedule and you're all set.</p>
  
          <h3>Apply (verb)</h3><p>Content creators must apply to join the Content Network. The applications are then gone through by hand, and those that meet our criteria of quality, originality, and other factors are admitted.</p>
  
          <h3>benchmark</h3><p>A standard data point which is referenced when making strategic decisions and comparing results of tests.</p>
   
          <h3>Brand Partner</h3><p>Ahalogy Brand Partners are iconic brands in various industries that are looking to win on Pinterest by sharing authentic content and connecting with content creators.</p>
  
          <h3>Client</h3><p>another name used interchangeably with Brand Partner</p>
  
          <h3>co-op</h3><p>Also known as interns, these folks are vital to our success. They are students at local (usually) universities that have agreed to spend their semester dedicating their time to Ahalogy. They tend to help out the client success, content, and sales teams. Treat them well, we couldn't do it without them!</p>
  
          <h3>Content Network Pin</h3><p>A pin is marked as Network when it is from another Content Partner. This lets you know how much content from others you have queued up in your schedule.</p>
  
          <h3>Content Partner</h3><p>The content creators (bloggers) who are members of the Content Network. They license their content to us so we can use it for our Brand Partners' Pins.</p>
  
          <h3>Content strategy</h3><p>A plan of attack for a partner to win on Pinterest. This consists of different categories they can play in, what types of boards they should make, and what types of Pins and content to post. This is based on data and experience to know which tactics will be the most successful.</p>
  
          <h3>Data Science</h3><p>Analyzing (usually large) sets of data to understand Pinterest and those who use it so we can continue to improve our tools and services.</p>
  
          <h3>Data Scientists</h3><p>The lovely Data Team at Ahalogy, the people who science the data.</p> 
   
          <h3>Drink and Demo</h3><p> Ahalogy has weekly meetings on Friday afternoons that are blocked off for other team members to share what they're working on with the whole company. If you're of age, having a beer or two is encouraged. At the Drink and Demo, you're likely to see demos of the cool stuff the Product Team is working on.</p>
  
          <h3>Engineer(s) (noun)</h3><p>Also known as neck-beards. They build the awesome stuff that Ahalogy sells. We've got a handful of back-end wizards and some front-end rockstars as well. They travel in packs, and it's always best to shoot a slack message before just walking over an interrupting them.</p>
  
          <h3>Guide (noun) (help tool)</h3>
          <h3>impression</h3><p>The metric which tracks how many viewers saw the thing. Whether it be a Pin, an ad, or something else. If someone in the audience saw it, that's an impression.</p>
  
          <h3>Insights</h3><p>Ahalogy's analytics tool. We take data about our Partners' sites, content, and Pinterest accounts and turn it into visualizations that allow them to take action based upon where they see success.</p>
  
          <h3>Interstitial</h3><p>An interstitial  is how members of our network give back to one another. When coming to an Ahalogy Partner's site from Pinterest, an interstitial appears with information about the pinner, prompting a follow on Pinterest. This organic method of inciting action from readers benefits the pinner, by showing their interstitial, and the creator of the piece of content that was pinned also is rewarded with traffic.</p>
   
          <h3>KPI</h3><p>Key Performance Indicator. Pick what you'd like success to be measured by.</p>
   
        <h3>manifesto (noun)</h3><p>Everything about why we are who we are, and why we do what we do at Ahalogy.</p>
   
          <h3>monetize (verb)</h3><p>Content Partners making money through Ahalogy in some form. There have been ambassadors, we've allowed them to switch out their desktop interstitial for a brand's where they earn per impression, they've served mobile ads for our Brand Partners, they've even created custom content our brands use.</p>
   
         <h3>OKR (objective, key result)</h3><p>How Ahalogy keeps track of company progress. These are at the company level, functional level, and personal level. It gives us common goals to work against, and definitive ways to measure how we're doing.</p> 
   
          <h3>opt-in (verb)</h3>
          <h3>Optimize</h3><p>Our technology takes the guess work out of what types of Pins ensure the highest audience engagement. Winning on Pinterest requires very specific techniques&mdash;proven by millions of Pins and a team of data scientists. Ahalogy's turnkey solution allows you to not only measure your results, but automatically improves performance as you go.</p>
  
          <h3>Partner Score</h3><p>Partner Score is a 0-100 ranking that is used for all members of the Ahalogy Content Network which takes into account the performance of the partner's pins, how much content they are licensing to the Content Network, and how much content they're sharing from other Content Partners. The purpose of the Partner Score is to reward creators for being good members of the community. By sharing more of the best content from the Content Network, your Partner Score will go up. As your Partner Score goes up, your content gets promoted higher in the Content Network.</p>
  
  
          <h3>Pin (noun) (verb)</h3><p>If you're not sure what this is at this point, you should be worried.</p>
   
          <h3>Pinned, Pinning</h3><p>Posting Pins&mdash;past, present, and future.</p>
   
          <h3>Pin Allotment</h3><p>The allocation of your pins between your self-published content and those from the Content Network. This allows Ahalogy's tools know how many of each type you'd like to be posted per day. We recommend a pretty even balance.</p>
   
          <h3>Pin Score</h3><p>A Pin Score is attached to each pin in the Content Network. It's a 0-100 ranking that takes into account the amount of repins and click-throughs a piece of content is getting compared to the number of followers that partner has.</p>
  
          <h3>Promoted Pin</h3><p>A content creator or brand can choose to pay to promote a certain Pin as part of a campaign. The promoter can target the Pin to certain audiences based on different parameters like gender, geography, interests, etc.</p>
   
          <h3>reach</h3><p>The number or scale of people who saw a Pin. Correlated with impressions, but not identical.</p>
   
         <h3>repin (verb), repinned</h3><p>Choosing to save and share a Pin that someone else has posted.</p>
  
          <h3>Rich Pin</h3><p>Rich Pins use meta data to pull in more information on specific Pins, allowing them to stand out in the feed. There are seven types: product, recipe, movie, article, place, and app. Each type pulls in different information, for example: a Recipe Pin might pull in the list of ingredients needed, so the Pinner can see what it encompases before clicking through. An App Pin allows you to download the app right from the Pin.</p>
 
          <h3>Scale</h3><p>We help you build a high-traffic earned account that's worthy of scaling up. We continuously analyze your brand's Pinterest performance to see what's working. These insights are fed back into your content marketing strategy so you're always growing results.</p>
  
          <h3>Schedule (verb) (noun)</h3><p>(verb): to queue up a Pin to post to Pinterest through Ahalogy
          (noun): the place where all Ahalogy Pins queued up to post to Pinterest live"</p>
  
          <h3>Self Published Pin</h3><p>A pin is marked as Self Published when it is content that you brought into the network. This happens when you're pinning with the Pinmarklet, or uploading a pin directly into the app. It will also occur when you're pinning from the All My Pins view in the app. This lets you keep track of how much of your own content is queued up in your schedule.</p>
  
          <h3>Smart Stacks</h3><p>A mobile optimization tool built by Ahalogy. It takes content and splits it up into cards that are clear of clutter, allowing the reader a pleasant experience consuming the content they're looking for.</p>
   
          <h3>Source</h3><p>Winning on Pinterest takes a critical mass of high quality content. We solve this by helping you identify your brand's most relevant content. We supplement this with a license to use +600,000 images and articles from our network of more than 1,500 high-end independent publishers on Pinterest.</p>
  
          <h3>test and learn</h3><p>Pinterest is all about learning. Our team tests new ideas and theories daily to continue driving performance for our partners</p>
   
          <h3>URL</h3><p>Uniform resource locator</p>
     </div> <!-- words -->
   </div> <!-- sub-section -->
    
    <div id="blacklist">
      <h2>Blacklist</h2>
      <p class='section-intro'>Never, ever use these words or commit these actions with an externally facing piece of content. Ever. Why? Using buzzwords, incorrect terms, or words that don't actually exist diminishes the Ahalogy brand-making us seem less credible.</p>

      <h3>Anything your mother would have washed out your mouth for saying as a child.</h3><p>Consult <a href="https://www.youtube.com/watch?v=vbZhpf3sQxQ&amp;feature=youtu.be&amp;t=4m12s">George Carlin</a> for the list of unmentionables.</p>


      <h3>Anything related to politics and religion</h3><p>A no-brainer in the business world. (Unless you work in politics or a religious organization.)</p>

      <h3>Made up words</h3><p>Happens much more than we realize, make use of mac's dictionary app!</p>


      <h3>click here</h3><p>Instead, describe the link you'll be sending them to (the name of the site or document should work), and hyperlink those words.</p> 


      <h3>user(s)</h3><p>Alternatives: content partner, self-serve brand partner, reader, audience, consumer. Acceptable uses: user interface, user experience.</p>


      <h3>improper use of "literally"</h3><p>I.e., ensure that what you're emphasizing is actually literal</p>


      <h3>in conclusion</h3><p>Sounds very much like an academic research paper. You have more personality than that!</p>


      <h3>puns with "Pinterest"</h3><p>E.g., Pinteresting, Pin-tastic, Pin-it-to-win-it, etc.</p> 


      <h3>thought leader </h3><p>This is the goal of a content type, which isn't included in externally facing works. We shouldn't have to say we are thought leaders, let our thoughts and work show that.</p>


      <h3>clip art</h3><p>It's okay in internal presentations or documents, but should never go external!</p>
    </div> <!-- sub-section -->
    
    
    </div> <!-- section content -->
  </div> <!-- section -->








  <div class='section u-clearfix' id='writing-for-ahalogy'>
    <div class='section-title js-pin'>
      <h1>Writing for Ahalogy</h1>
      <ul class='section-nav'>
        <li><a href="#writing-multiple">Mulitple Audiences</a></li>
        <li><a href="#writing-cp">Content Partners</a></li>
        <li><a href="#writing-brand">Brand Partners</a></li>
        <li><a href="#writing-sales">Sales Prospects</a></li>
        <li><a href="#writing-marketing">Marketing</a></li>
        <li><a href="#writing-ux">User Experience</a></li>
        <li><a href="#writing-tech">Technical Needs</a></li>
        <li><a href="#writing-hr">HR</a></li>
        <li><a href="#writing-recruiting">Recruiting</a></li>
      </ul>
    </div>
    <div class='section-content js-trigger'>
      <p class='section-intro'>Things to remember for different audiences and content types to stay in line with the Ahalogy voice.</p>
      <div id="writing-multiple" class="sub-section"><h2>Writing For Multiple Audiences</h2>

        <h3>Blog posts</h3>
          <ul>
            <li>If you're struggling to get out your words or have a great idea but no time to write it out, get in touch with a member of the marketing team, you can talk through your ideas and then a draft can be put together for you.</li>
              <ul>
                <li><strong><strong>Goal:</strong></strong> to use our knowledge and expertise to take a point of view on Pinterest news and best practices. Also, to share our company culture with our partners and prospects.</li>
                <li>consult <a href="https://docs.google.com/spreadsheets/d/1sGDB_8VArtEzuRUdr4BBQwTO9RmNvsAJmBcOKNhmIWs/edit#gid=393076388">Content Marketing Strategy/Calendar</a>, and always make sure your functional "editor" or marketing lead has given a review</li>
                <li>200-800 words.</li>
                <li>Images: stock image site you may use: <a href="http://thestocks.im/" title="TheStocks.im">thestocks.im</a> (always crop a version for a Pinterest pin)</li>
                <li>Blog posts should hold the same speaker throughout. Meaning, if you're writing in your own, first person voice, then stick with it. Don't switch the speaker between I and We in one piece of writing.</li>
              </ul>
          </ul> 

        <h3>Email correspondence</h3>
          <ul>
            <li>Remember you're still representing our team, company, and product in these interactions. Use your own tone, but don't stray from the Ahalogy voice and grammar guidelines. Always, always re-read emails before sending!</li>
              <ul>
                <li>Client Service</li>
                  <ul>
                    <li><strong><strong>Goal:</strong></strong> to maintain a relationship with our brand partner while positioning ourselves as the expert on their success with Pinterest.</li>
                    <li>Answer questions clearly and in full.</li>
                    <li>Follow ups: after a meeting or call, respond promptly, and immediately address the next steps (attaching a deck, answering questions, etc.)</li>
                    <li>Continuous outreach: Stay away from "checking in" notes&mdash;always add value. Check with the marketing team for the latest and greatest reports and insights if needed.</li>
                    <li>Remember that yourre writing to an audience that likely has a shorter attention span&mdash;keep the information relevant, valuable, and engaging.</li>
                  </ul>
      
                <li>Content</li>
                  <ul>
                    <li><strong><strong>Goal:</strong></strong> to remain familiar to the Content Partners, while answering questions, offering counsel, and encouraging the partner to refer to The Guide or a support ticket in future instances.</li>
                    <li>If it's a support type question, see:  d.Support for guidelines. Always politely let the partner know to submit a support ticket in the future to ensure a timely response.</li>
                    <li>If the exact same message is going to more than one person, use Intercom or MailChimp and the appropriate template.</li>
                  </ul>
      
                <li>Sales</li>
                  <ul>
                    <li><strong><strong>Goal:</strong></strong> to build and maintain relationships with sales prospects and position ourselves and the obvious partner for winning on Pinterest.</li>
                    <li>Outreach and prospecting: be concise and to the point. Make sure you're adding value/insights about the sales lead's business category, and/or their specific Pinterest account. <a href="https://docs.google.com/document/d/1NJzMjyRkOO7deUdNokVk5yLD8u8yt-L3MA0k2UXUt0I/edit">Consult Sales email templates</a>.</li>
                    <li>Continuous outreach: leverage Pardot for automated templates (TBD), but never just write a "checking in"" note&mdash;always add value. Check with the marketing team for the latest & greatest reports and insights.</li>
                    <li>Follow ups: after a meeting or call, respond promptly, and immediately address the next steps (attaching a deck, answering questions, etc.)</li>
                    <li>Questions: resist the temptation to get caught up in back-and-forth emails on detailed questions. Specific answers and details can be used against us later. Don't make promises we can't keep! Always try to get the client back on the phone to answer questions. If you don't know something, say you'll look into it, then consult the <a href="https://docs.google.com/document/d/1-M6DHEQKsaFMhesUjqPTzSd1VZr_IbWPHVsrQEFdAIQ/edit">Sales &amp; Marketing FAQ</a> and/or your fellow teammates</li>
                  </ul>
      
                <li>Marketing</li>
                  <ul>
                    <li><strong><strong>Goal:</strong></strong> Build industry relationships by providing useful information and expertise that builds our brand of "the #1 Pinterest Partner"</li>
                    <li>Industry correspondence (to reporters, event organizers, investors, client/sales/content partners, recruits, and employees)&mdash;concisely convey information and make worthwhile requests.</li>
                    <li>Every communication should add value.</li>
                    <li>Keep to one CTA per piece of collateral. We don't want to give the audience too much work</li>
                  </ul>
              </ul> 
        </ul>

        <h3>Newsletters</h3>
          <ul>
            <li>Content Partner Newsletters</li>
              <ul>
                <li><strong>Goal:</strong> to promote the community aspect of the Ahalogy Content Network to active and latent Content Partners, keeping them up to date on the happenings of Ahalogy.</li>
                <li>Follow design template for emails.</li>
                <li>Ensure there is only one major topic in each email. If there's more than one major topic to discuss&mdash;make more than one email. We want each major topic to get the full attention it deserves.</li>
                <ul>
                  <li>What is major? (not an exhaustive list)</li>
                        <ul>
                          <li>Feature release</li>
                          <li>New Brand Partner with request to follow/interact/create custom content</li>
                          <li>Important media mention</li>
                        </ul>
                </ul>
                <li>Do not put anything (except the blurb with a link to view in a browser) above the hero image in the email template.</li>
              </ul> 

            <li>Marketing Newsletters</li>
              <ul>
                <li><strong>Goal:</strong> to promote relevant Ahalogy news and Pinterest/brand relevant insights&mdash;that add value, create intrigue, and build our brand as the ""#1 Pinterest partner.""</li>
                <li>Follow design template for marketing newsletters</li>
                <li>Keep a regular schedule (monthly, bi-weekly TBD). Regular emails should be populated with 2&ndash;3 topics, with a single "leader" (most important story).</li>
                <li>One-off emails are only sent if there is a big announcement/news that cannot wait until the next newsletter.</li>
                <li>Newsletter content should be 2&ndash;3 impactful headlines with supporting sentences that link to Ahalogy content (blog posts, Pinterest boards, landing pages) and with exception, some external content (outside articles featuring Ahalogy/Pinterest, brand Pinterest accounts/boards).</li>
                <li>Experiment with subject-line testing to maximize open rates</li>
              </ul>
        </ul>

        <h3>Feature releases</h3>
          <ul>
            <li>Content</li>
              <ul>
                <li><strong>Goal:</strong> To inform Content Partners about new product features and why the feature matters to them.</li>
                <li>Craft an email newsletter using the proper template and an in-app message.</li>
                <li>Be sure to get a clear brief from a product team member about functionality and constraints</li>
              </ul>
            <li>Client Service (re: self serve brands)</li>
              <ul>
                <li><strong>Goal:</strong> to inform the Brand Partner about a new product feature, why it matters to them, and offer guidance on how to use it.</li>
                <li>Craft an email newsletter using the proper template</li>
                <li>Be sure to get a clear brief from a product or content team member about functionality and constraints</li>
              </ul>
            <li>Marketing/Sales (our mass list of brands and agency contacts)</li>
              <ul>
                <li><strong>Goal:</strong> to inform partners and leads about a new product feature, why it matters to them, and give them another reason to consider/keep working with Ahalogy</li>
                <li>Fit within the existing email calendar, unless this is a major feature release that warrants a "one-off" email&mdash;in either case using the proper template</li>
                <li>Be sure to get a clear brief from a product or content team member about functionality and constraints</li>
              </ul>
          </ul>
        </div> <!-- multiple -->


      <div id="writing-cp" class="sub-section"><h2>Writing for Content Partners</h2>
                  <ul>
                    <li><strong>Current:</strong> How can I get more from Ahalogy?</li>
                    <li><strong>Recruit:</strong> Why should I use Ahalogy&mdash;what's in it for me?</li>
                      <ul>
                        <li>Educational materials</li>
                          <ul>
                            <li><strong>Goal:</strong> To educate Content Partners on best practices for making the most out of Ahalogy&mdash;and translating that knowledge into success on Pinterest.</li>
                            <li>Let the personality shine through.</li>
                            <li>We want to be fun and familiar while feeding them high value information and tips they can turn into actions.</li>
                            <li>Stick to one topic the entire time&mdash;it's enticing to give them all of the things, but it's easier to digest in small bits, we don't want to be all over the place.</li>
                          </ul>
                        <li>FAQs and guide documentation</li>
                          <ul>
                            <li><strong>Goal:</strong> To help our partners learn how to use our application and find quick, helpful information when troubleshooting an issue or inquiring about a function of Ahalogy.</li>
                            <li>Rephrase for the following</li>
                              <ul>
                                <li>questions into a statement form</li>
                                <li>make topic more general to cover more bases</li>
                                <li>a positive tone for both statement and response</li>
                              </ul>
                            <li>Be straightforward.</li>
                            <li>Avoid any marketing/business jargon.</li>
                          </ul>
                        <li>In-app messages</li>
                          <ul>
                            <li><strong>Goal:</strong> Quickly communicate a message from the Content Team to our Content Partners to ensure transparency and trustworthiness.</li>
                            <li>Use these to send less intrusive messages to the Content Partners, such as a reminder to complete a task or access a document.</li>
                            <li>Keep it to 250 characters or less.</li>
                            <li>Short, sweet, to the point.</li>
                            <li>Only use reply feature when we need information from the partner.</li>
                            <li>The three types: Chat, Small Announcement, Large Announcement.</li>
                            <ul>
                              <li>Take care to notice that the Chat option has the feel of a live chat window&mdash;don't use unless you're going to talk with them in that setting.</li>
                              <li>Also, the Large Announcement option is a full takeover of the page when the partner sees the message&mdash;use these sparingly as it's quite disruptive to the partner's experience.</li>
                            </ul>
                          </ul>
                        <li>Onboarding drip messaging</li>
                          <ul>
                            <li><strong>Goal:</strong> To ensure retention of new users through guidance from the Content Team by staying engaged and being there to help them as they get used to the Ahalogy platform and features.</li>
                            <li>Keep each communication reduced to one feature mention or main point.</li>
                            <li>These messages should be at or under 500 characters.</li>
                            <li>Use screenshots or .gif's of the features whenever possible.</li>
                          </ul>
                        <li>Support Tickets</li>
                          <ul>
                            <li><strong>Goal:</strong> To answer the Content Partner's inquiry in a timely, beneficial manner and manage the reputation of Ahalogy.</li>
                            <li>First and foremost: answer the Content Partner's question.</li>
                            <li>Be clear and concise.</li>
                            <li>Refer the CP to the appropriate Guide article for explanations of functions, and to elicit the behavior of checking The Guide before opening a ticket.</li>
                            <li>Keep those exclamation points to a minimum.</li>
                            <li>Don't grovel. If we've made a mistake&mdash;apologize. Then get right into how we are solving the problem.</li>
                            <li>Always sign with first name then "@ Ahalogy".</li>
                            <ul><li>E.g., Susan @ Ahalogy</li></ul>
                          </ul>
                      </ul>
                  </ul>
      </div> <!-- content partners -->

        <div id="writing-brand" class="sub-section"><h2>Writing for Brand Partners (brands &amp; agencies)</h2>
          <ul>
            <li><strong>Current client:</strong> How do I better use and understand Ahalogy and Pinterest?</li>
            <li><strong>Marketing lead/future client:</strong> How is Ahalogy unique from other content/Pinterest marketing companies?</li>
              <ul>
                <li>Onboarding Documents</li>
                  <ul>
                    <li><strong>Goal:</strong> to effectively explain the work Ahalogy will be doing for the brand partner; define our terms, what to expect, and present the content strategy.</li>
                    <li>Use the brand assets, if provided, to create a customized strategy for the brand to achieve success with Ahalogy.</li>
                    <li>Fully utilize their brand voice and visual identity while interjecting our strategic recommendations.</li>
                    <li>This is the time to get down to what information matters to the client, as in what metric they will expect to see in a report. Including this type of language which makes them feel happy and accommodated is appropriate here.</li>
                    <li>For self-serve brand partners, these documents should include more information regarding usage of the app and additional recommendations for optimizing their efforts. Don't stray from the truth in these, there's no hiding anything behind a curtain once the client is in the app, don't hesitate to ask a product team member about the functionality and constraints of features.</li>
                  </ul>
                <li>Pin Approval Docs</li>
                  <ul><li><strong>Goal:</strong>  to provide a clear and concise presentation of pin batches in order to keep hit rate between 95%&ndash;100%</li></ul>
                <li>Ongoing Reports</li>
                  <ul>
                    <li><strong>Goal:</strong> to be clear and concise while providing valuable information that your client cares about through a summary presentation and more in depth data when needed.</li>
                    <li>Stick with provided templates and visual guidelines to minimize work, add custom details/slides to meet your specific client needs.</li>
                    <li>Follow general presentation rules. Less written words, more spoken. You can still own the room for these meetings even if you're not technically in them.</li>
                    <li>"Fluff" can sometimes come off as not being able to discern what really matters and creates more work for the client trying to quickly understand the given information.</li>
                    <li>Stay consistent from slide to slide with sentence forms in all copy.</li>
                  </ul>
              </ul>
          </ul>
        </div> <!-- brand partners -->



          <div id="writing-sales" class="sub-section"><h2>Writing for Sales Prospects</h2>
            <ul>
              <li><strong>Brand/Agency Partner (marketing lead/future client):</strong> How is Ahalogy unique from other content/Pinterest marketing companies?</li>
              <li>Content Types</li>
                <ul>
                  <li>Pitch Decks</li>
                      <ul>
                        <li><strong>Goal:</strong> Position Ahalogy as the clear solution for succeeding on Pinterest and make the decision to work with us a no-brainer. Briefly share key elements to fit the audience: Pinterest overview (as necessary), Ahalogy capabilities, insights, and case studies.</li> </ul>
                        <li>Emails: follow the pre-created templates</li>
                        <li>Proposals: follow pre-created proposal templates</li>
             
                </ul>
            </ul> 
          </div> <!-- sales -->


        <div id="writing-marketing" class="sub-section"><h2>Writing for Marketing</h2>
          <ul>
            <li><strong>Content Partner (current):</strong> How can I get more from Ahalogy?</li>
            <li><strong>Content Partner (future):</strong> Why should I use Ahalogy&mdash;what's in it for me?</li>
            <li><strong>Brand/Agency Partner (current client):</strong> How do I better use and understand Ahalogy and Pinterest?</li>
            <li><strong>Brand/Agency Partner (marketing lead/future client):</strong> How is Ahalogy unique from other content/Pinterest marketing companies?</li>
            <li><strong>Recruit (future):</strong> What does Ahalogy do exactly? How can I get a job there?</li>
            <li><strong>Reporter:</strong> Who and what is Ahalogy? How are they unique from other content/Pinterest marketing companies?</li>
            <li><strong>Investor (current):</strong> What are these people doing with my money?</li>
            <li><strong>Investor (future):</strong> Why should I consider giving these people my money?</li>
            <li><strong>Other Partner (technology firm, Pinterest, competitor, etc):</strong> Why should we work with Ahalogy, and/or how can we crush them?</li>
            <ul>
              <li>Case Studies</li>
                  <ul>
                    <li><strong>Goal:</strong> to exemplify success with Ahalogy featuring a detailed story of how a Brand Partner was able to win on Pinterest using our tools and services.</li>
                    <li>Prioritize mention of the client rather than Ahalogy, but make it clear that Ahalogy was the key factor.</li>
                    <li>The amazement should feel organic to the audience. Let the results speak for themselves. Prioritize quantitative, but also include qualitative results; client quotes, business anecdotes, indirect and direct outcomes.</li>
                  </ul>
              <li>White Papers, Trend Reports, etc.</li>
                  <ul>
                    <li><strong>Goal:</strong> to use data and knowledge Ahalogy has to position ourselves as the #1 Pinterest partner</li>
                    <li>Summarize the objective of the report, and the method of obtaining the data and insights.</li>
                    <li>Beyond just a report of data, always include 3&ndash;5 actionable bullet points&mdash;interesting nuggets or insights.</li>
                  </ul>
              <li>Social Media</li>
                  <ul>
                    <li><strong>Goal:</strong> to share content that adds value the reader, building our brand as a Pinterest and content marketing expert, and drives reader engagement</li>
                    <li>(Reference <a href="https://docs.google.com/spreadsheets/d/1sGDB_8VArtEzuRUdr4BBQwTO9RmNvsAJmBcOKNhmIWs/edit#gid=1135998776">Social Media Strategy</a> for what types of communication are relevant and appropriate for the respective social platform (Twitter, Facebook, Instagram, LinkedIn, Google+, YouTube, Pinterest)</li>
                      <ul>
                        <li>Only key Ahalogy team members should be making social posts using approved of tools (e.g. HootSuite, app.ahalogy.com, etc). Others can (and should) share relevant suggestions via Slack's #Social_Media channel.</li>
                        <li>Social posts should prioritize the sharing of Pinterest, Ahalogy, and relevant industry news. Also showcase our team and culture on the appropriate platforms.</li>
                        <li>Keep things short and conversational</li>
                        <li>Include CTA's without being overly excited or "pushy".</li>
                        <li>External Links:</li>
                          <ul>
                            <li>Whenever possible, include external links to content.</li>
                            <li>Make sure we're not linking to articles that demean Pinterest, or highlight other competitors.</li>
                            <li>Leverage URLS shorteners (e.g., Snip.ly) for post-click tracking and potential call to action engagements&mdash;unless is something on Pinterest's website, blogs, etc.</li>
                          </ul>
                      </ul>
                  </ul>
              <li>Webinars</li>
                  <ul>
                    <li><strong>Goal:</strong> to position Ahalogy as the resource for knowledge regarding winning on Pinterest, and create valuable partnerships with industry leaders. (those hosting the webinars)</li>
                    <li>Stick to general presentation rules. Less written words, more spoken.</li>
                    <li>Visuals are a must, infographics are pleasing to the eye and make listening along much easier</li>
                  </ul>
              <li>Press Release &amp; Briefings</li>
                  <ul>
                    <li><strong>Goal:</strong> to get the attention of primary and secondary news sources regarding the work we do, what we have coming up and result in an article written with quote from us in said news source.</li>
                    <li>Being informative and concise are the key aspects to a successful press release. Give the main, important points clearly. Don't fluff use filler words and phrases. These are meant to incite the writing of a feature or article, not be the feature or article.</li>
                    <li>Use pre-aligned templates</li>
                  </ul>
              <li>Physical Collateral &amp; Supporting Materials (e.g., calendar spinner)</li>
                  <ul>
                    <li><strong>Goal:</strong> to give the audience something of value that keeps the Ahalogy name and services on their desk and in their mind whenever they think of Pinterest.</li>
                    <li>Don't create something just because we need something. It should have meaning, and offer value.</li>
                    <li>Stay goal oriented. The most effective materials only have one focus or function and are executed impeccably.</li>
                  </ul>
              <li>Ahalogy news: cases studies, new features/learning</li>
                  <ul><li><strong>Goal:</strong> to showcase Ahalogy's success and further drive home that we are the #1 Pinterest partner</li></ul>
              </ul>
          </ul>
        </div> <!-- marketing -->


        <div id="writing-ux" class="sub-section"><h2>Writing for User Experience</h2>
          <ul>
            <li><strong>Goal:</strong> to make our interfaces more human and easier to use.</li>
            <li>Stay goal oriented. If we need the partner to complete an action, state the goal first (including their benefit), then how to accomplish it.</li>
            <li>Always prescribe blame on us or our tools in failure messaging. We don't want to make our partners feel bad when using us. See examples above to get a feel for the correct wording.</li>
          </ul>
        </div> 


        <div id="writing-tech"><h2>Writing for Technical Needs (Engineering, Data Science, etc.)</h2>
          <ul>
            <li><strong>Goal:</strong> to clearly and effectively communicate new features, updates, or issues with our product. Also, to share our technical expertise and market leadership</li>
            <li>Status Page Updates</li>
              <ul>
                  <li>Use for updating the <a href="https://manage.statuspage.io/pages/3r3jz1jtb7g3">status page</a> during <strong>non-critical</strong> situations. During critical outages, let's make sure engineering is shouldered up with communications to make sure we convey the right messages at the right times.</li>
                  <li>When to update</li>
                    <ul>
                      <li>Let's <strong>not</strong> create an incident if a production release of any kind won't require downtime for our partners. No need to bother if it won't negatively impact them.</li>
                      <li>Let's create a <strong>Scheduled Maintenance</strong> post if there will be downtime during a production release or routine maintenance.</li>
                      <li>Let's create a <strong>Degraded Service</strong> incident for any components that temporarily suck. Transparency breeds trust.</li>
                      <li>Let's create a <strong>Service Outage</strong> incident if a hosting provider has issues, while we migrate to another option.</li>
                    </ul>
                  <li>What to say</li>
                    <ul>
                      <li><strong>Scheduled Maintenance:</strong> <em>Between &#91;Xpm&#93; and &#91;Ypm&#93; EST we'll be performaning some routine maintenance that will make Ahalogy more reliable but, alas, momentarily unavailable. You'll be able to sign in again as soon as the maintenance is finished. We'll do everything we can to keep it quick.</em></li>
                      <li><strong>Degraded Service:</strong> <em>&#91;Component Name&#93; is &#91;temporarily shitty attribute of said component&#93;. We're investigating the issue now and working on a fix.</em></li>
                        <ul>
                          <li>Example 1: <em>Pin score calculations for your Pinned items are temporarily behind. They'll be caught up soon. We're looking into the slowdown now and will get everything up to date as soon as possible.</em></li>
                          <li>Example 2: <em>Posting Pins is intermittenly failing for some partners, and that's causing delays from when your Pins were originally scheduled. We're investigating how to get our Pin poster back to its usual, punctual self.</em></li>
                        </ul>
                      
                      <li><strong>Service Outage:</strong><em> Ahalogy was unavailable for most partners from &#91;time x&#93; to &#91;time y&#93; due to an unplanned outage at our hosting facility.</em></li>
                    </ul>
            <li>Blog posts</li>
              <ul>
                <li>Distill down the nature of what you've done into semi-layman's terms. While our marketing and industry readers may not fully understand the technical details of exactly what or how it was done, we do want them to understand the technical challenge we were trying to solve, and how innovative and smart we were to solve it.</li>
                <li>Even for more technical writing&mdash;remember the Ahalogy voice. Always feel free to ask members of the Marketing team for help here with an early/final edit, It will help us better understand your work, and we can help you learn Ahalogy's voice and tone.</li>
              </ul>
          </ul>
        </ul>
        </div> <!-- tech -->


        <div id="writing-hr" class="sub-section"><h2>Writing for HR/internal needs</h2>
          <ul> 
           <li><strong>Employee:</strong> How do I proudly explain to my parents what I'm doing?</li>
            <li><strong>Recruit:</strong> What does Ahalogy do exactly? How can I get a job there?</li>
            <li>Individual onboarding documents</li>
              <ul>
                <li><strong>Goal:</strong> to bring the new hire up to speed on what Ahalogy is inside and out regarding our culture, mission, vision, and values. Also, outline resources, tools, and individuals that will help the newbie ramp up in their roll. </li>
                <li>Remember to be helpful and concise, enthusiastic but genuine. Lay it all out, but don't make it a chore to read.</li>
                <li>Ensure that it also caters to those who may not be in the room with you to go through it. Remote folks will likely read on their own, and even some locals will have to read it later on their own time.</li>
                <li>Be cognizant of using words or phrases that may be Ahalogy specific. If the language used is only known within these four walls, make an effort to define it in layman's terms. New hires shouldn't have to chase down definitions of Ahalogy buzzwords or phrases.</li>
              </ul>
          </ul>
        </div> <!-- hr -->


        <div id="writing-recruiting" class="sub-section"><h2>Writing for Recruiting</h2>
          <ul>
            <li>Job descriptions</li>
              <ul>
                <li><strong>Goal:</strong> to exemplify that Ahalogy is the #1 place to work, and the role is exactly what they're looking for, which attracts top talent by clearly explaining the job requirements and giving a quick look into our company culture.</li>
                <li>Give a few key points about the actual job itself and make sure they're not cryptic at all.</li>
                <li>Don't oversell the cool factor. All startups have an awesome space with awesome benefits and awesome perks. Let them know what makes us more awesome than others. E.g., our weekly lunches, drink and learns for continued development, encouraged vacation policy, ability to work wherever is best for you, and tenacity of current employees.</li>
              </ul>
          <li>Flyers for career fairs</li>
            <ul>
              <li><strong>Goal:</strong> to entice college students looking for co-op positions to check out Ahalogy by explaining the knowledge gaining and real world work experiences available.</li>
              <li>Explain what we're looking for, but hone in on their learning potential. Co-ops are first and foremost students. They're trying to find their way and figure out what the hell to do with their lives. They will get to learn about business, their interest areas, and whatever else they can get their hands on.</li>
              <li>Perks: co-ops are often under 21. While it's totally rad that we have on site kegs and happy-hours, they can't participate. It's better to play up company lunches and team outings.</li>
            </ul> 
          </ul>
        </div> <!-- recruiting -->
    </div> <!-- section content -->
  </div> <!-- section -->
</div> <!-- content -->